[Desktop Entry]
Name=IntelliJ IDEA
Comment=A Java development environment
Exec=/home/jimmy/bin/idea
Terminal=false
Type=Application
Icon=intellij-idea
Categories=Development;IDE;Java
StartupNotify=true
